<div class="login-page">

  <div class="login-left">
    <div class="overlay"></div>

    <div class="welcome-content">
      <h1>{{'login.HR Management System' | translate }}</h1>
      <p>{{'login.Manage employees, attendance and payroll easily.' | translate }}</p>
    </div>
  </div>

  <div class="login-right">

    <div class="login-card">

      <div class="logo-section">
        <img src="/images/LOGO-2.png" alt="FedEx Logo" loading="lazy">
      </div>

      <h2>{{'login.Welcome Back' | translate }}</h2>

      <form>

        <div class="form-group">

          <label>{{'login.Username' | translate }}</label>

          <div class="input-wrapper">
            <i class="fa-regular fa-user"></i>

            <input
              type="text"
              class="form-control"
              [placeholder]="'login.Enter Username' |translate" >
          </div>

        </div>

        <div class="form-group">

          <label>{{'login.Password' | translate }}</label>

          <div class="input-wrapper">

            <i class="fa-solid fa-lock"></i>

            <input
              type="password"
              class="form-control"
              [placeholder]="'login.ُEnter Password' | translate" 
              >

          </div>

        </div>

        <div class="forgot">
          <a routerLink="/forget-password">{{'login.Forgot Password?' | translate }}</a>
        </div>

        <button class="btn login-btn w-100">
          {{'login.Login' | translate }}
        </button>

      </form>

    </div>

  </div>

</div>