<div class="row g-4 mt-1">

  <!-- Early Risers -->

  <div class="col-lg-4">

    <div class="status-card">

      <div class="status-header">

        <h5>Early Risers</h5>

        <span class="date-pill">
          <i class="fa-regular fa-calendar"></i>
          04 Oct 2024
        </span>

      </div>

      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Ahmad Butt</h6>
              <span>1012</span>
            </div>

          </div>

          <span class="green-pill">
            <i class="fa-regular fa-clock"></i>
            1h 50m
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Ahmad Butt</h6>
              <span>1012</span>
            </div>

          </div>

          <span class="green-pill">
            <i class="fa-regular fa-clock"></i>
            1h 50m
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Ahmad Butt</h6>
              <span>1012</span>
            </div>

          </div>

          <span class="green-pill">
            <i class="fa-regular fa-clock"></i>
            1h 50m
          </span>

        </div>

      </div>

    </div>

  </div>

  <!-- Late Arrivals -->

  <div class="col-lg-4">

    <div class="status-card">

      <div class="status-header">

        <h5>Late Arrivals</h5>

        <span class="date-pill">
          <i class="fa-regular fa-calendar"></i>
          04 Oct 2024
        </span>

      </div>

      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">


            <div>
              <h6>Khizar</h6>
              <span>1246</span>
            </div>

          </div>

          <span class="red-pill">
            <i class="fa-regular fa-clock"></i>
            20m
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">


            <div>
              <h6>Khizar</h6>
              <span>1246</span>
            </div>

          </div>

          <span class="red-pill">
            <i class="fa-regular fa-clock"></i>
            20m
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">


            <div>
              <h6>Khizar</h6>
              <span>1246</span>
            </div>

          </div>

          <span class="red-pill">
            <i class="fa-regular fa-clock"></i>
            20m
          </span>

        </div>

      </div>

    </div>

  </div>

  <!-- Missing Punch -->

  <div class="col-lg-4">

    <div class="status-card">

      <div class="status-header">

        <h5>Missing Punch</h5>

        <span class="date-pill">
          <i class="fa-regular fa-calendar"></i>
          04 Oct 2024
        </span>

      </div>

      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Khalifa</h6>
              <span>5688</span>
            </div>

          </div>

          <span class="check-pill">
            Check-In
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Khalifa</h6>
              <span>5688</span>
            </div>

          </div>

          <span class="check-pill">
            Check-In
          </span>

        </div>

      </div>
      <div class="status-body">

        <div class="employee-row">

          <div class="employee-info">

            <div>
              <h6>Khalifa</h6>
              <span>5688</span>
            </div>

          </div>

          <span class="check-pill">
            Check-In
          </span>

        </div>

      </div>

    </div>

  </div>

</div>