.scroll-to-top {
  position: fixed;
  bottom: 5%; 
  right: 2%;  
  z-index: 9999;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
:host-context([dir='rtl']) .scroll-to-top{
  right: 95% !important;
}


.scroll-to-top:hover {
  background: var(--primary-hover);
  transform: translateY(-3px);
}
.scroll-to-top.show {
  animation: bounceContinuous 1.2s infinite ease-in-out;
  pointer-events: auto;
}

@keyframes bounceContinuous {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width:1200px) {
  :host-context([dir='rtl']) .scroll-to-top{
  right: 93% !important;
}
}
@media (max-width:900px) {
  :host-context([dir='rtl']) .scroll-to-top{
  right: 92% !important;
}
}
@media (max-width:750px) {
  :host-context([dir='rtl']) .scroll-to-top{
  right: 90% !important;
}
}
@media (max-width:550px) {
  :host-context([dir='rtl']) .scroll-to-top{
  right: 85% !important;
}
}
@media (max-width:350px) {
  :host-context([dir='rtl']) .scroll-to-top{
  right: 80% !important;
}
}