<div class="leave-request-card">

  <div class="section-header">
    <h5>Leave Request</h5>
  </div>

  <div class="table-responsive">

    <table class="table leave-table align-middle">

      <thead>
        <tr>
          <th>EMPLOYEE ID</th>
          <th>EMPLOYEE NAME</th>
          <th>LEAVE TYPE</th>
          <th>FROM</th>
          <th>TO</th>
          <th>REASON</th>
          <th>ACTION</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td data-label="Employee ID">1521</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ahmad Butt</span>
            </div>
          </td>

          <td data-label="Leave Type">Casual Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Going To Hospital</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>

        <tr>
          <td data-label="Employee ID">4572</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ali Raza</span>
            </div>
          </td>

          <td data-label="Leave Type">Sick Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Fever</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>
        <tr>
          <td data-label="Employee ID">4572</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ali Raza</span>
            </div>
          </td>

          <td data-label="Leave Type">Sick Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Fever</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>
        <tr>
          <td data-label="Employee ID">4572</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ali Raza</span>
            </div>
          </td>

          <td data-label="Leave Type">Sick Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Fever</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>
        <tr>
          <td data-label="Employee ID">4572</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ali Raza</span>
            </div>
          </td>

          <td data-label="Leave Type">Sick Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Fever</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>
        <tr>
          <td data-label="Employee ID">4572</td>

          <td data-label="Employee Name">
            <div class="employee-info">
              <span>Ali Raza</span>
            </div>
          </td>

          <td data-label="Leave Type">Sick Leave</td>

          <td data-label="From">12/03/2024</td>

          <td data-label="To">14/03/2024</td>

          <td data-label="Reason">Fever</td>

          <td data-label="Action">

            <div class="action-buttons">

              <button class="accept-btn">
                <i class="fa-solid fa-check"></i>
                Accept
              </button>

              <button class="reject-btn">
                <i class="fa-solid fa-xmark"></i>
                Reject
              </button>

            </div>

          </td>
        </tr>

      </tbody>

    </table>

  </div>

</div>