:host {
  display: block;
}

.lang-btn {
  width: 100%;
  height: 42px;

  border: none;
  border-radius: 12px;

  background: var(--togle-bg);
  color: var(--nav-item-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.lang-btn:hover {
  background: var(--primary);
  color: #fff;
}

.lang-btn i {
  font-size: 18px;
}

.lang-btn span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}